
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/7aC-Y4V2UPHQp-tqeekgkA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
	font-family: 'Lato';
}
ul {
	list-style: none;
	padding-left: 0px;
}

a {
	text-decoration: none;
	color: #80deea 
}

a:active {
	text-decoration: none;

}

td, th {
	border: 0;
	padding-left 0px;
	padding-bottom: 10px;
	text-align: left
}
th {

	border-bottom: 1px solid black;
}
td {
	border-top: 1px solid #ddd;
	padding-right: 15px;
	padding-top: 15px;

}
.description-table {
	border: 0;
	padding: 10px 10px 10px 10px;
	border-spacing: 0px
}
.border, .code-block {
	border: 1px solid #ddd;
	margin: 10px 10px 10px 10px;
	margin-left: 0px;
	border-radius: 5px;
}
.code-block {
	background-color: #eceff1 
}
h1 {
	color:	#01579b 
}
h2 {
	color: #03a9f4 ;
}
h3 {
	font-size: 15px;
}

div.nav {
	background-color: #00838f;
	border-left: 1px solid black;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}
html
{
    height: 100%;
}
